<!-- Footer -->

<footer class="row">
	<div class="large-12 columns"><hr />
		<div class="row">

			<div class="large-6 columns">
				<p>&copy; Copyright Redbook 2013.</p>
			</div>

			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><%= link_to "Help", help_path%></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Blog", blogs_path %></li>
					<li><%= link_to "Press", presses_path %></li>
					<li><%= link_to "Terms", terms_path %></li>
					<li><%= link_to "Privacy", privacy_path %></li>
					<li><%= link_to "Cookie", cookie_path %></li>
				</ul>
			</div>

		</div>
	</div>
</footer>

      <!-- End Footer -->